
*:after, *:before { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.progress{
    border:1px solid gray;
}
.progress-bar{
    border:1px solid blue; 
}
.card{
    border:1px solid darkgray;
    -webkit-box-shadow: 3px 4px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 17px 1px rgba(0,0,0,0.75);
}
body{
    font-family: 'Merriweather', serif;
}
.container{
    display:flex;
}
header{
    text-align: center;
    margin-top:-25px;
}
.name{
    text-align: center;
    font-size:30px;
}
.jumbotron{
    margin-bottom:0;
}
/*.jumboAlign{
    margin-top:-75px;
    padding-bottom:0;
}*/
#top{
    font-size:20px;
    margin-top:-50px;
}
.contentPhone{
    margin-left:50px;
}
.highlight{
    font-weight: bold;
}
.italic{
    font-style:oblique;
}
/*using start bootstrap git hub to help with styling*/
#wrapper{
    padding-left:0 auto;
    border:2px solid black;
    background-color: #f1f1f1;
    -webkit-box-shadow: 3px 4px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 17px 1px rgba(0,0,0,0.75);
    /* background-color: darkblue; */
}
#sidebar-wrapper{ 
    position: fixed;
    left:250px;
    width:100%;
    height:100%;
    margin-left:-250px;
    overflow-y: auto;
}
#profSum{
    margin-bottom: -45px;
    font-size:18px;
}
.titleCards{
    font-size:25px;
    margin-left:25px;
    margin-top: 15px;
}
.btn-right{
    position: absolute;
    right:3px;
}
 /* style sheet for "letter" printing */
 @media print {  
    html{
        font-size:14px;
    }
}
.link{
    font-size:12px;
    font-style:italic;
    text-align:right;
    margin-right:20px;
}
.gitLink{
    text-align: center;
    margin-top:30px;
    font-style: oblique;
    font-weight: bold;
    
}
.gitLink:hover{
    font-size:25px;
    transition:0.5s;
}
.mainPadding{
    padding:0 ;
}
.contactEmail a{
    color:black;
}
.contactEmail a:hover{
    color:blue;
}
